<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/portfolio/img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012.03 - 2015.08</h4>
                                    <h4 class="subheading">Multimedia Enginerring, Hansung University</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                            B.S. in Multimedia Engineering from Hansung University, Korea
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            한성대학교 멀티미디어공학과를 졸업하였습니다. 2013.08 - 2015.08 졸업 까지 DC&M(Digital Content & Multimedia) Lab 에서 교내 학술대회, 공모전 등을 참가하였습니다.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/portfolio/img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016.03 - </h4>
                                    <h4 class="subheading">Android Developer, Netmarble Corp.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    'SDK서비스'팀의 Android 개발자 입니다. 
                                    <br>VoiceTalk, Talk과 같은 게임 내 유저들이 소통할 수 있는 서비스와 관련 된 업무를 담당하고 있습니다. SDK 뿐만 아니라 게임에 접속하지 않아도 게임 유저들과 소통할 수 있는 메신저 앱도 개발하였습니다.  
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>My
                                    <br>Future
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>