<!DOCTYPE html>
<html>

  {% include /portfolio/head.html %}


    <body id="page-top" class="index">

    {% include /portfolio/header.html %}
    {% include /portfolio/services.html %}
    {% include /portfolio/portfolio_grid.html %}
    {% include /portfolio/about.html %}
    {% include /portfolio/team.html %}
    {% include /portfolio/clients.html %}
    {% include /portfolio/contact.html %}
    {% include /portfolio/footer.html %}
    {% include /portfolio/modals.html %}
    {% include /portfolio/js.html %}

    </body>
</html>